
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicons/news-icon.webp" type="image/x-icon"/>
    <title>MediaRank</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/42b63e661f.js" crossorigin="anonymous"></script>
    <!--google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap" rel="stylesheet">

  </head>

  <body class="text-center">
    <form class="add-item" action="/" method="post">
      <img src="/favicons/news-icon.webp" alt="item-image" width="250" height="250">
      <h1 class="h3 mb-3 font-weight-normal brand">ADD MEDIA</h1>
      <label for="inputName" class="sr-only">Media Name</label>
      <input type="text" name="mediaName" id="inputName" class="form-control" placeholder="Media Name" required autofocus>
      <label for="inputImageURL" class="sr-only">Popularity</label>
      <input type="text" name="alexaRank" id="inputImageURL" class="form-control" placeholder="Alexa Rank" required>
      <label for="inputItemPrice" class="sr-only">Peer Reputation</label>
      <input type="text" name="pageRank" id="inputItemPrice" class="form-control" placeholder="Page Rank" required>
      <label for="inputNumberItems" class="sr-only">Media Bias</label>
      <input type="text" name="politicalBias" id="inputNumberItems" class="form-control" placeholder="Media Bias" required>
      <label for="inputfactCheck" class="sr-only">Fact Check</label>
      <input type="text" name="factCheck" id="inputfactCheck" class="form-control" placeholder="Fact Check" required>
      <button class="btn btn-lg btn-danger btn-block" type="submit">ADD MEDIA</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
    </form>
  </body>
</html>
