.container1 {
  padding-top: 50px;
  text-align: center;
}

.container2 {
  padding-top: 200px;
  padding-left: 200px;
  padding-right: 200px;
}

h4 {
  margin-top : 20px;
  margin-bottom : 15px;
}

body {
  background-color: #a2de96;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    border-radius: 0;
    margin-bottom: 20px;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.card-modify {
  display: inline-block;
  margin: 1rem;
}

.headi {
  font-size: 75px;
}

.adjust {
  margin-top: 50px;
}

.input-modi {
  margin-left: 10px;
  width: 500px;
}

.btn-modi {
  margin-top: 25px;
  margin-bottom: 15px;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 65px;
	background-color: #f4f4f4;
}

.footer p {
	margin-top: 22px;
	font-size: 1rem;
  color: #1b6ca8;
}

.full {
  width: 100%;
}

p {
    word-break: break-all;
    white-space: normal;
    text-align: center;
}



body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.img-adjust{
  margin-bottom: 30px;
}

.add-item {
  width: 100%;
  max-width: 400px;
  padding-bottom: 10px;
}

.div-signin{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container {
    padding-top: 20px;
    padding-bottom: 5px;
}

.add-item input[type="text"] {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.add-item input[type="number"] {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.brand {
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 4rem;
  padding-left: 0px;
}
